

<span class = 'info glyphicon glyphicon-info-sign'></span>


<div class="container-fluid">
    <div class='row row1'>
 <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
        <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>

    </div>
    <div class='row row2'>
<div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
       <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>

    </div>
    <div class='row row3'>
 <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
        <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>

    </div>
    <div class='row row4'>
 <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
        <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>

    </div>
    <div class='row row5'>
<div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
       <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>

    </div>
    <div class='row row6'>
<div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
       <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>


    </div>
    <div class='row row7'>
 <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>
        <div class="col-md-1 pad"><div class="padColor color1"></div></div>
        <div class="col-md-1 pad"><div class="padColor color2"></div></div>
        <div class="col-md-1 pad"><div class="padColor color3"></div></div>
        <div class="col-md-1 pad"><div class="padColor color4"></div></div>
        <div class="col-md-1 pad"><div class="padColor color5"></div></div>
        <div class="col-md-1 pad"><div class="padColor color6"></div></div>
        <div class="col-md-1 pad"><div class="padColor color7"></div></div>
        <div class="col-md-1 pad"><div class="padColor color8"></div></div>
        <div class="col-md-1 pad"><div class="padColor color9"></div></div>
        <div class="col-md-1 pad"><div class="padColor color10"></div></div>

        <div class="col-md-1 nopad"><div class="nopadColor nocolor"></div></div>

    </div>

</div>

<div class='spinner'> <h2>Loading Samples, Hang on...</h2> <img src='img/loadinfo.net.gif'></div>
<div class="credits">
<p>A realtime audio visualiser. Creates colors and pitches from the inputs and outputs. Enjoy</p>
<!-- <span>Tips?: 14StmmMaCscSFRAGaQLy8i511x6Jou6ccP &nbsp<img src='img/btcdoner.gif'></span> -->

    <h3 class='size'></h3>
    <h3 class='relayed_by'></h3>
    <h3 class='hash'></h3>
    <ul class='output'></ul>
</div>
